.movies__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 79px 0 77px;
  padding: 0;
}

@media screen and (max-width: 1281px) {
  .movies__list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 80px;
    margin-bottom: 43px;
  }
}

@media screen and (max-width: 766px) {
  .movies__list {
    grid-template-columns: 1fr;
    gap: 8px;
    margin-top: 49px;
    margin-bottom: 32px;
  }
}