.profile {
  max-width: 1280px;
  padding: 0 70px 80px;
  margin: 74px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0 0 106px 0;
  padding: 0;
  max-width: 410px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.profile__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 410px;
  width: 100%;
}

.profile__input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0 16px 0;
  border-bottom: 1px solid #e8e8e8;
}

.profile__input-container:nth-last-of-type(-n+2) {
  border: none;
}

.profile__input-label {
  margin: 0;
  padding: 0;
  width: 140px;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  margin: 0;
  padding: 0;
  width: 270px;
  border: none;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}

.profile__input:focus {
  outline: none;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(220px - 33px);
}

.profile__button {
  margin: 16px 0 0;
  padding: 0;
  max-width: fit-content;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.profile__button_type_exit {
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: 768px;
    margin-top: 236px;
  }

  .profile__title {
    margin-bottom: 79px;
  }

  .profile__buttons {
    margin-top: calc(210px - 33px);
  }
}