@import url(../../vendor/fonts/fonts.css);
@import url(../../vendor/normalize.css);

.page {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: 000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.link {
  text-decoration: none;
  transition: 0.4s;
  color: #000;
}

.link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.button {
  transition: 0.4s;
}
.button:hover {
  opacity: 0.8;
}