@import url(../../vendor/fonts/fonts.css);
@import url(../../vendor/normalize.css);

.page {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: 000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.input:focus {
  box-shadow: 1px 1px 1px rgba(43, 224, 128, 1);
}

.input-error {
  display: block;
  visibility: hidden;
  min-height: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.input-error_active {
  visibility: visible;
  opacity: 1;
  color: #ee3465;
}

.link {
  text-decoration: none;
  transition: 0.4s;
}

.link:visited {
  color: transparent;
}

.link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.button {
  transition: 0.4s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}