.nav-auth_type_login {
  width: 100%;
  margin-left: 44px;
}

.nav-auth__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.5px;
}

.nav-auth__list_type_login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-auth__link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.nav-auth__link_active {
  border-radius: 3px;
  background: #3ddc84;
  padding: 9px 20px;
}

.nav-auth__films {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.nav-auth__link_type_acc-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.nav-auth__acc-image {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 6px;
  margin-left: 11px;
}