.search__form {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__container {
  margin: 0;
  padding: 0;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search__input {
  margin: 0;
  padding: 25px 0 25px 25px;
  width: calc(1140px - 110px);
  color: #a0a0a0;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.search__input:focus {
  outline: none;
}

.search__container:focus-within {
  box-shadow: 1px 1px 1px rgba(43, 224, 128, 1);
}

.search__button {
  margin: 10px 10px 10px 0;
  padding: 17px 0px;
  background-color: #2be080;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 52px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
}

.search__button_type_disabled {
  margin: 10px 10px 10px 0;
  padding: 17px 0px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 52px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: gray;
  cursor: default;
}

.search__button_type_disabled:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .search__button {
    padding-left: 28px;
    padding-right: 28px;
  }

}

@media screen and (max-width: 320px) {
  .search__input {
    padding: 15px 0 15px 15px;
    width: 194px;
    font-size: 16px;
    line-height: 16px;
  }

  .search__button {
    margin: 5px 10px 5px 0;
    padding: 13px 0px;
    width: 80px;
    height: 44px;
  }

}