.about-project {
  max-width: 1280px;
  padding: 111px 70px 110px;
  margin: 0 auto;
  box-sizing: border-box;
}

.about-project__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.about-project__info {
  padding-top: 70px;
  display: flex;
  gap: 53px;
}

.about-project__block {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__block-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.about-project__block-description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about-project__stages {
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 14px;
  margin-top: 111px;
}

.about-project__weeks {
  margin: 0;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background: #2be080;
  text-align: center;
  color: #000;
}

.about-project__weeks_frontend {
  background: #f2f2f2;
}

.about-project__span {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #a0a0a0;
}

@media screen and (max-width: 768px) {
  .about-project {
    max-width: 768px;
    padding: 90px 50px 90px;
    margin: 0 auto;
  }

  .about-project__title {
    padding-bottom: 24px;
  }

  .about-project__info {
    gap: 38px;
  }

  .about-project__block {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .about-project__block-description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__stages {
    display: grid;
    grid-template-columns: 1.06fr 4fr;
    row-gap: 10px;
    margin-top: 95px;
  }
}

@media screen and (max-width: 650px) {
  .about-project__stages {
    grid-template-columns: 1.1fr 2fr;
    row-gap: 10px;
    margin-top: 59px;
  }

  .about-project__weeks {
    font-size: 11px;
  }

  .about-project__span {
    font-size: 11px;
    font-weight: 400;
  }
}

@media screen and (max-width: 362px) {
  .about-project {
    max-width: 320px;
    padding: 71px 18px 90px;
  }

  .about-project__title {
    padding-bottom: 28px;
    font-size: 18px;
  }

  .about-project__info {
    flex-direction: column;
    padding-top: 62px;
    gap: 58px;
  }

  .about-project__block {
    gap: 17px;
  }

  .about-project__block-title {
    font-size: 18px;
    letter-spacing: -0.7px;
  }

  .about-project__block-description {
    font-size: 11px;
    line-height: 16px;
  }

}