.about-project {
  max-width: 1280px;
  padding: 110px 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

.about-project__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.about-project__info {
  padding-top: 70px;
  display: flex;
  gap: 40px;
}

.about-project__block {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__block-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.about-project__block-description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about-project__stages {
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 14px;
  margin-top: 110px;
}

.about-project__weeks {
  margin: 0;
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background: #2be080;
  text-align: center;
  color: #000;
}

.about-project__weeks_frontend {
  background: #f2f2f2;
}

.about-project__span {
text-align: center;
font-size: 14px;
font-weight: 500;
line-height: normal;
color: #a0a0a0;
}