.footer {
  max-width: 1280px;
  width: 100%;
  padding: 80px 70px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fafafa;
}

.footer__authors {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #a0a0a0;
  padding-bottom: 19px;
  border-bottom: 1px solid #e8e8e8;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.footer__copy {
  margin: 0;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__links-item {
  text-align: right;
}

.footer__link {
  color: #000;
}

.footer__link:visited {
  color: #000;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }

}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 320px;
    padding-top: 74px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
  }

  .footer__authors {
    font-size: 12px;
    padding-bottom: 21px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    letter-spacing: -0.6px;
  }

  .footer__copy {
    margin-top: 30px;
    letter-spacing: -0.6px;
    order: 1;
    color: #a0a0a0;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

}